* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    margin: 0;
}
  
header {
    padding: 40px;
    text-align: center;
    background: lightcoral;
    color: #fff;
}
  
nav {
    display: flex;
    background-color: lightpink;
}
  
nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
main {
    display: flex;
    flex-wrap: wrap;
}
  
section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
}
  
  
.work-section #second-row {
      padding: 20px;
}
  
.work-section #third-row {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
 
.about-me p {
    padding: 20px;
}

.about-me img {
    width: 30%;
    padding-top: 20px;
    padding-left: 20px;
}
#contact-links {
     margin: 20px;
}

#contact-links a {
     padding: 20px;
     color: lightcoral;
}
  

#horiseon img {
     width: 100%;
     height: auto;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
}

#horiseon {
    position: relative;
}

#second-row {
    position: relative;
}

#horiseon-label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: lightcoral;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
footer {
    padding: 20px;
    text-align: center;
    background: lightcoral;
    color: #fff;
}
  
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
}