* {
    margin:0;
    padding:0;  
  }


/* adjusts nav bar measurements, background color, text color*/
header {
    height: 60px;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px;
}

/* puts pink box around name in nav bar */
header h1 {
    background-color: lightpink;
    padding: 10px 40px;
}

/* displays bookmarks in nav bar inline */
li {
    display: inline;
    padding: 20px;
}

/* makes bookamrks in nav bar white */
header a {
    color: white;
}

/* makes main section headers and content align*/
section {
    padding: 20px;
    display: flex;
    align-items:center;
}

/* sets dimension for paragraph in about me section */
section p {
    margin-left: 20px;
    width: 80%;
}
/* sets contact me text color*/
section a {
    margin: 20px;
    color: lightcoral;
}

/* sets About Me, Work, Contact Me headers dimensions*/
main section h1{
    width: 15%;
    text-align: right;
    padding-right: 10px;
    border-right: 3px solid;
}

/* */


/* sets image under nav bar */
.chevron {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.subtitle {
    position: absolute;
    bottom: 20px;
    right: 30px;
    background-color: lightpink;
    padding: 10px;
}

.label {
    background-color: pink;
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding: 7px;
}


#aboutMe {
    padding-bottom: 70px;
}

#work {
    padding-bottom: 500px;
}
